.settings
target
.project
.classpath
bin
*.iml
.idea
_*.sh
*.local
*.localz
es.properties
*.zip
*.versionsBackup
*.log
melosys-internt-kodeverk
melosys-kodeverk-generator/node_modules
melosys-kodeverk-generator/package-lock.json